.page {
    min-height: 100vh;
    background-color: var(--bg-creme);
}

.main {
    padding-top: 200px;
}

.hero {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 24px;
    color: var(--text-main);
}

.hero p {
    font-size: 1.2rem;
    color: var(--text-accent);
    font-family: var(--font-sans);
}